{% extends "kulupulang/base/base.jinja" %}
{% set title='add contributor' %}

{% block content %}
    <h2>{{ verb }}</h2>
    <p>contributors have the same permissions as the person who created the batch. they can edit the batch, add, edit and remove words and submit or un-submit the batch to the oven.</p>
    <p>you are adding a contributor to <a href="{{ batch.get_absolute_url() }}">{{ batch.name }}</a></p>
    {% if form.errors %}
        {% for error in form.errors %}
            <div class="alert">{{ error }}</div>
        {% endfor %}
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag() }}
            <div class="field">
                {{ field }}
                {% if field.help_text %}<span class="help_text">{{ field.help_text }}</span>{% endif %}
            </div>
        {% endfor %}
        <div class="actions">
            <button type="submit">{{ verb }}</button>
        </div>
    </form>
{% endblock content %}