{% extends "kulupulang/base/base.jinja" %}

{% block content %}
    <h2>{{ batch.name }} (batch #{{ batch.pk }})</h2>
    {% if not batch.submitted %}
        <p>only <strong>you</strong> can see this batch! you've not submitted it to the oven yet. take your time, and enjoy cooking.</p>
    {% endif %}
    <h3 class="m-top">roots</h3>
        {% if roots %}
            <p>these are the roots you've cooked so far. <a href="{{ url('root.new', batch=batch.pk) }}">add another?</a></p>
            <ul>
                {% for root in roots %}
                    <li><a href="#">{{ root }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>there are no roots in this batch. <a href="{{ url('root.new', batch=batch.pk) }}">add one?</a></p>
        {% endif %}
    <h3 class="m-top">words</h3>
        {% if words %}
            <p>these are the words you've cooked so far. <a href="{{ url('word.new', batch=batch.pk) }}">add another?</a></p>
            <ul>
                {% for word in words %}
                    <li><a href="#">{{ word }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>there are no words in this batch. <a href="{{ url('word.new', batch=batch.pk) }}">add one?</a></p>
        {% endif %}
{% endblock content %}