{% extends "kulupulang/base/base.jinja" %}
{% set title=batch.name %}

{% block content %}
    <h2>{{ batch.name }} (batch #{{ batch.pk }})</h2>
    {% if has_edit_permission and batch.editable %}
        <p>right now, only contributors to this batch (that's you!) can make changes to this batch. it has not been submitted to the oven yet. take your time, and enjoy cooking.</p>
        <p>once you're happy with the words/roots you've added to it: <a href="{{ url('batch.submit', batch=batch.pk) }}">put this batch in the oven</a></p>
    {% endif %}
    {% if has_edit_permission and batch.submitted and not batch.passed %}
        <p>this batch is in the oven right now. <a href="{{ url('batch.unsubmit', batch=batch.pk) }}">un-submit it?</a></p>
    {% endif %}
    {% if words %}
        {% if has_edit_permission and batch.editable %}
            <p>these are the words you've cooked so far. <a href="{{ url('word.new', batch=batch.pk) }}">add another?</a></p>
        {% endif %}
        <ul>
            {% for word in words %}
                <li><a href="{{ word.get_absolute_url() }}">{{ word }}</a> · {{ word.definition }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>there are no words in this batch. {% if has_edit_permission and batch.editable %}<a href="{{ url('word.new', batch=batch.pk) }}">add one?</a>{% endif %}</p>
    {% endif %}
    <h3 class="m-top">contributors</h3>
    {% if has_edit_permission and batch.editable %}
        <p>only contributors like yourself can make changes to batches or submit them to the oven. <a href="#">add a contributor?</a></p>
    {% endif %}
    <ul>
        <li>{{ batch.created_by }} (creator)</li>
        {% for contributor in batch.contributors.all() %}
            <li>{{ contributor }}</li>
        {% endfor %}
    </ul>
    {% if batch.discussion_count > 0 %}
        <p>
            this batch is flagged for discussion by {{ batch.discussion_count }}
            people.
            {% if user_discussion %}<a href="{{ url('discussion.resolve', discussion=user_discussion.pk) }}">mark your dispute as resolved?</a>{% endif %}
        </p>
    {% elif batch.submitted and not batch.passed %}
        <p>
            this batch is in the oven.
            {% if request.user.is_authenticated %}<a href="{{ url('discussion.new', batch=batch.pk) }}">flag for discussion?</a>{% endif %}
        </p>
    {% endif %}
{% endblock content %}