{% extends "kulupulang/base/base.jinja" %}
{% set title='un-submit batch' %}

{% block content %}
    <h2>un-submit batch</h2>
    <p>this will remove <a href="{{ batch.get_absolute_url() }}">{{ batch.name }}</a> from the oven.</p>
    <p>if it currently has any disputes, these will be removed. once un-submitted, you and other contributors will be able to edit this batch and submit it again whenever you want.</p>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="actions">
            <button type="submit">un-submit it!</button>
        </div>
    </form>
{% endblock content %}