@import '../globals';

form {
  @spacing: 12px;

  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: @spacing;
  row-gap: @spacing;
  max-width: 560px;
  margin: 1.5em 0 1em 0;

  label {
    padding-top: 9px;
    font-weight: 600;
    color: @dark;
    font-size: .875rem;
    text-transform: lowercase;

    &.required::after {
      content: '*';
      color: @pink;
    }
  }

  .field {
    display: block;

    input, select, textarea {
      width: 100%;
      display: block;
      border: 1px solid #ccc;
      border-radius: 2px;
      padding: 6px 8px;
      font-family: @font_family;
      font-size: .8175rem;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px @pink;
      }
    }

    textarea {
      height: 3.5rem;
      resize: vertical;
    }

    .help_text {
      display: block;
      padding-top: (@spacing / 2);
      color: #888;
      font-size: .8175rem;
    }
  }

  .actions {
    grid-column: 2;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: (@spacing / 2);

    button {
      outline: none;
      border: none;
      border-radius: 2px;
      display: inline-block;
      padding: 6px 8px;
      color: #fff;
      background: @dark;
      font-family: @font_family;
      font-weight: 600;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 6px;
      }
    }
  }
}