<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title ~ ' · ' if title else '' }}il makkulu</title>
        <link rel="stylesheet" href="{{ static('css/base.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ theme.css_path }}" type="text/css">
        {% for css in theme.get_external_css() %}<link rel="stylesheet" href="{{ css }}" type="text/css">{% endfor %}
        {% for js in theme.get_external_js() %}<script src="{{ js }}"></script>{% endfor %}
    </head>
    <body>
        <div class="everything window">
            <div class="header-and-main">
                <header>
                    <div class="brand title-bar">
                        <span class="title-bar-text">il makkulu.</span>
                        {% if theme.name == "windows" %}
                            <div class="title-bar-controls">
                                <button aria-label="Minimize"></button>
                                <button aria-label="Maximize"></button>
                                <button aria-label="Close"></button>
                            </div>
                        {% endif %}
                    </div>
                    <nav>
                        <ul>
                            {% if request.user.is_authenticated %}
                                <li><a href="{{ url('dashboard') }}">dashboard</a></li>
                                <li><a href="{{ url('batch.oven') }}">oven</a></li>
                                <li><a href="{{ url('discussion.index') }}">disputes</a></li>
                                <li><a href="{{ url('dictionary.index') }}">dictionary</a></li>
                                <li><a href="{{ url('batch.index') }}">batches</a></li>
                                <li class="right greeting">{{ greeting }}, {{ request.user }}</li>
                                <li><a href="{{ url('settings') }}">settings</a></li>
                                <li><a href="{{ url('logout') }}">log out</a></li>
                            {% else %}
                                <li><a href="{{ url('login') }}">log in</a></li>
                                <li><a href="{{ url('dictionary.index') }}">dictionary</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </header>
                <main class="window-body">
                    {% if messages %}
                        <div class="alerts">
                            {% for message in messages %}
                                <div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% block content %}
                    {% endblock content %}
                </main>
            </div>
            <footer class="status-bar">
                <p>this was coded by zee · let me know if you have a problem · <a
                        href="https://github.com/marzusia/kulupulang">github</a></p>
            </footer>
        </div>
    </body>
</html>