@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&family=Open+Sans:wght@400;600&display=swap');

:root {
    --heading-font-weight: 600;
    --default-font-stack: 'Open Sans', Helvetica, sans-serif;
    --heading-font-stack: 'Bitter', 'Open Sans', Helvetica, sans-serif;

    --pink: #c73784;
    --dark-pink: #b4156a;

    --button-border-radius: 3px;

    --max-width: 864px;
    --mobile-padding: 12px;
}

::selection {
    background-color: var(--dark-pink);
    color: #fff;
}

body {
    font-family: var(--default-font-stack);
    background: #fcfcfc;
}

header {
    background: var(--pink);
    padding: 38px 0 0 0;
}

header .brand {
    font-size: 1.75rem;
    font-weight: 600;
    font-family: var(--heading-font-stack);
    color: #fff;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--mobile-padding);
}

header nav {
    background: #fff;
    border-bottom: 1px solid var(--pink);
    padding: 0 var(--mobile-padding);
}

header nav ul {
    list-style: none;
    padding: 6px 0 10px 0;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
}

header nav ul li:not(:last-child) {
    margin-right: 18px;
}

header nav ul li.right {
    margin-top: 8px;
}

header nav ul li a {
    display: inline-block;
    color: var(--pink);
    background: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

main {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 28px var(--mobile-padding) 0 var(--mobile-padding);
}

main .alerts {
    margin-bottom: 16px;
}

main .small {
    font-size: .895rem;
}

main .large {
    font-size: 1.2rem;
}

main .mt {
    margin-top: 12px;
}

main .pages {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 4px;
    padding-bottom: 16px;
}

main .alerts .alert {
    display: block;
    border: 1px solid var(--pink);
    border-radius: var(--button-border-radius);
    padding: 4px 8px;
}

main .alerts .alert:not(:last-child) {
    margin-bottom: 4px;
}

main h1, main h2, main h3, main h4 {
    font-family: var(--heading-font-stack);
    font-weight: 600;
}

main a {
    color: var(--pink);
}

a {
    transition: outline .1s ease-in-out;
}

a:focus {
    outline: 3px solid var(--pink);
}

main ul {
    margin: 0 0 6px 0;
}

main button, main .button {
    display: inline-block;
    border-style: solid;
    border-color: var(--pink);
    border-width: 1px 1px 3px 1px;
    color: var(--pink);
    font-weight: bold;
    border-radius: var(--button-border-radius);
    background: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    padding: 1px 11px 2px 11px;
}

main button[disabled], main .button[disabled] {
    border-color: #aaa;
    color: #777;
    cursor: default;
}

main button[disabled]:active,
main .button[disabled]:active {
    border-width: 1px 1px 3px 1px;
    padding: 1px 11px 2px 11px;
}

main button:active, main .button:active {
    border-width: 2px 1px 1px 1px;
    padding: 2px 11px 2px 11px;
}

main form {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 12px;
    row-gap: 12px;
    max-width: 560px;
    margin: 1rem 0;
}

main form label {
    padding-top: 7px;
    font-size: .875rem;
    text-transform: lowercase;
    color: var(--dark-mint);
}

main form label.required::after {
    content: '*';
    color: var(--pink);
}

main form .field {
    display: block;
}

main form .field input,
main form .field textarea,
main form .field select {
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    border-radius: var(--button-border-radius);
    padding: 6px 8px;
    font-family: var(--default-font-stack);
    font-size: .8175rem;
}

main form .field input:focus,
main form .field textarea:focus,
main form .field select:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--pink);
}

main form .field input,
main form .field textarea {
    background: none;
}

main form .field select {
    background: none;
}

main form .field textarea {
    height: 3.5rem;
    resize: vertical;
}

main form .field .help_text {
    display: block;
    padding-top: 2px;
    padding-bottom: 3px;
    color: #666;
    font-size: .8175rem;
}

main form .actions {
    grid-column: 2;
    margin-top: 12px;
}

main form.search {
    display: grid;
    grid-template-columns: 1fr auto auto;
    margin-bottom: .75rem;
}

main section:not(:first-child) {
    margin: .75rem 0;
}

main p {
    margin-bottom: 6px;
}

main .actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

main .actions button:not(:last-child),
main .actions .button:not(:last-child),
main .actions input[type=submit]:not(:last-child) {
    margin-right: 6px;
}

main .dictionary-entry {
    margin-top: 18px;
    padding-bottom: 18px;
    position: relative;
    counter-increment: entry;
}

main .dictionary-entry::before {
    position: absolute;
    right: 100%;
    padding-right: 18px;
    top: -10px;
    font-weight: bold;
    font-size: 3rem;
    color: #ddd;
    content: counter(entry);
}

main .dictionary-entry:first-child {
    margin-top: 0;
}

main .dictionary-entry:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

main ul.dictionary {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: stretch;
}

main ul.dictionary li {
    display: contents;
}

main ul.dictionary li a {
    display: contents;
}

main ul.dictionary li a > span {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 3px 6px;
}

main ul.dictionary li:hover a > span {
    background: #f6f6f6;
}

main ul.dictionary li.labels > span {
    display: block;
    padding: 5px 6px;
    font-size: .875rem;
    color: #444;
    font-weight: bold;
}

main ul.dictionary li a .dictionary-headword {
    color: var(--pink);
    text-decoration: none;
}

main ul.dictionary li a .dictionary-pos {
    color: #777;
    text-decoration: none;
    font-style: italic;
    font-size: .875rem;
}

main ul.dictionary li a .dictionary-definition {
    color: #222;
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: .875rem;
    padding: 18px 0 8px 0;
    color: #888;
}

footer a {
    color: var(--pink);
}

@media (min-width: 768px) {
    header .brand {
        padding: 0;
    }

    header nav {
        padding: 0;
    }

    header nav ul {
        max-width: var(--max-width);
        margin: 0 auto;
        flex-flow: row wrap;
        padding: 4px 0;
    }

    header nav ul li.right {
        margin-top: 0;
        margin-left: auto;
    }

    main {
        padding: 28px 0 0 0;
    }
}