{% extends "kulupulang/base/base.jinja" %}
{% set title='dashboard' %}

{% block content %}
    <h2>dashboard</h2>
    {% if unsubmitted_batches %}
        <p>you have a few unsubmitted batches. click below to keep working on them, or <a href="{{ url('batch.new') }}">start another one</a>.</p>
        <ul>
            {% for unsubmitted_batch in unsubmitted_batches %}
                <li><a href="{{ unsubmitted_batch.get_absolute_url() }}">{{ unsubmitted_batch }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>you have no unsubmitted batches. <a href="{{ url('batch.new') }}">start one</a>?</p>
    {% endif %}
{% endblock %}