{% extends "kulupulang/base/base.jinja" %}
{% set title='dashboard' %}

{% block content %}
    <h2>dashboard</h2>
    <section class="actions dashboard-actions">
        <a href="{{ url('batch.new') }}" class="button">new batch</a>
    </section>
    {% if unsubmitted_batches %}
        <p>you're contributing to a few unsubmitted batches. click on one below to keep working on it.</p>
        <ul>
            {% for unsubmitted_batch in unsubmitted_batches %}
                <li><a href="{{ unsubmitted_batch.get_absolute_url() }}">{{ unsubmitted_batch }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>you have no unsubmitted batches.</p>
    {% endif %}
{% endblock %}