{% extends "kulupulang/base/base.jinja" %}
{% set title='dictionary' %}

{% block content %}
    <h2>dictionary</h2>
    {% if words %}
        <ul>
            {% for word in words %}
                <li><a href="{{ url('dictionary.show', slug=word.slug) }}">{{ word }}</a> · <em>{{ word.pos }}</em> · {{ word.definition }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>there are no words in the dictionary yet :(</p>
    {% endif %}
{% endblock %}