{% extends "kulupulang/base/base.jinja" %}
{% set title='dictionary' %}

{% block content %}
    <h2>dictionary</h2>
    {% if words %}
        <ul class="dictionary">
            <li class="labels">
                <span>headword</span>
                <span>pos</span>
                <span>definition</span>
            </li>
            {% for word in words %}
                <li>
                    <a href="{{ url('dictionary.show', slug=word.slug) }}">
                        <span class="dictionary-headword">{{ word.headword }}</span>
                        <span class="dictionary-pos">{{ word.get_pos_display() }}</span>
                        <span class="dictionary-definition">{{ word.definition }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>there are no words in the dictionary yet :(</p>
    {% endif %}
{% endblock %}