{% extends "kulupulang/base/base.jinja" %}
{% set title=slug %}

{% block content %}
    {% for word in words %}
        <div class="dictionary-entry">
            <h3>{{ word.headword }}</h3>
            <strong>{{ word.get_pos_display() }}{% if word.cls %} · {{ word.get_cls_display() }}{% endif %}</strong>
            <p>{{ word.definition }}</p>
            {% if word.etymology %}
                <strong>etymology</strong>
                <p>{{ word.etymology }}</p>
            {% endif %}
            {% if word.notes %}
                <strong>notes</strong>
                <p>{{ word.notes }}</p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}