{% extends "kulupulang/base/base.jinja" %}

{% block content %}
    <h2>delete root: {{ root.root }}</h2>
    <p>this will delete {{ root.root }} from <a href="{{ batch.get_absolute_url() }}">batch #{{ batch.pk }} ({{ batch.name }})</a></p>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="actions">
            <button type="submit">delete it!</button>
        </div>
    </form>
{% endblock content %}