{% extends "kulupulang/base/base.jinja" %}

{% block content %}
    <h2>{{ root.root }}</h2>
    <strong>root</strong>
    <p>{{ root.gloss }}</p>
    {% if root.notes %}
        <strong>notes</strong>
        <p>{{ root.notes }}</p>
    {% endif %}
    <p>
        this root is a part of <a href="{{ batch.get_absolute_url() }}">batch #{{ batch.pk }} ({{ batch.name }})</a>
        {% if has_edit_permission and root.editable %}
        ─ <a href="{{ url('root.edit', batch=batch.pk, root=root.pk) }}">edit</a>
        / <a href="{{ url('root.delete', batch=batch.pk, root=root.pk) }}">delete</a>
        {% endif %}
    </p>
{% endblock content %}